.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidespread {
  color: rgb(152, 152, 152);
  margin-top: -50px;
  padding-bottom: 0rem;
}
.hidespread:hover {
  color: black;
}

rect {
  outline: none !important;
}


.App-link {
  color: #61dafb;
}

.react-calendar-heatmap .color-selected { fill: #2596be; }
.react-calendar-heatmap .color-void { fill: #f8f8f8; }
.react-calendar-heatmap .color-empty { fill: #eeeeee; }
.react-calendar-heatmap .color-good-scale-0 { fill: #eeeeee; }
.react-calendar-heatmap .color-good-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-good-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-good-scale-3 { fill: #e6573d; }
.react-calendar-heatmap .color-good-scale-4 { fill: #f3ab9e; }
/* .react-calendar-heatmap .color-good-scale-3 { fill: #44a340; } */
/* .react-calendar-heatmap .color-good-scale-4 { fill: #1e6823; } */
.react-calendar-heatmap .color-bad-scale-0 { fill: #eeeeee; }
.react-calendar-heatmap .color-bad-scale-1 { fill: #f3ab9e; }
.react-calendar-heatmap .color-bad-scale-2 { fill: #e6573d; }
.react-calendar-heatmap .color-bad-scale-3 { fill: #e02d0c; }
.react-calendar-heatmap .color-bad-scale-4 { fill: #b3240a; }

.react-calendar-heatmap .schengen-0 { fill: #eeeeee; }
.react-calendar-heatmap .schengen-1 { fill: #bcdbe6; }
.react-calendar-heatmap .schengen-2 { fill: #a6cfdd; }
.react-calendar-heatmap .schengen-3 { fill: #90c3d5; }
.react-calendar-heatmap .schengen-4 { fill: #7ab7cd; }
.react-calendar-heatmap .schengen-5 { fill: #64abc4; }
.react-calendar-heatmap .schengen-6 { fill: #2187ab; }
.react-calendar-heatmap .schengen-7 { fill: #e02d0c; }

/* .react-calendar-heatmap .expense-budget-0 { fill: #eeeeee; }
.react-calendar-heatmap .expense-budget-1 { fill: #87abfc; }
.react-calendar-heatmap .expense-budget-2 { fill: #969ce3; }
.react-calendar-heatmap .expense-budget-3 { fill: #a58cc9; }
.react-calendar-heatmap .expense-budget-4 { fill: #b47db0; }
.react-calendar-heatmap .expense-budget-5 { fill: #c36e96; }
.react-calendar-heatmap .expense-budget-6 { fill: #d25e7d; }
.react-calendar-heatmap .expense-budget-7 { fill: #e14f63; }
.react-calendar-heatmap .expense-budget-8 { fill: #f03f4a; }
.react-calendar-heatmap .expense-budget-9 { fill: #ff3030; } */

.react-calendar-heatmap .expense-budget-0 { fill: #8cc665; }
.react-calendar-heatmap .expense-budget-1 { fill: #a6d087; }
.react-calendar-heatmap .expense-budget-2 { fill: #bfdaa9; }
.react-calendar-heatmap .expense-budget-3 { fill: #d7e4cb; }
.react-calendar-heatmap .expense-budget-4 { fill: #eeeeee; }
.react-calendar-heatmap .expense-budget-5 { fill: #f4d1c8; }
.react-calendar-heatmap .expense-budget-6 { fill: #f5b4a4; }
.react-calendar-heatmap .expense-budget-7 { fill: #f39681; }
.react-calendar-heatmap .expense-budget-8 { fill: #ee785e; }
.react-calendar-heatmap .expense-budget-9 { fill: #ff3030; }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
